<div{{ attributes.addClass('bc-widewhite') }}>

<div class="uk-container">
	<div uk-grid>
		<div class="uk-width-3-5@m uk-margin-large-top">
			{{ content.field_left_img}}

		</div>
		<div class="uk-width-2-5@m">
		    {{ content.field_block_content}}
		    {{ content.field_arrow_img}}
		    <div class="uk-big-bottom">
		    	{{ content.field_cta_img}}
		    </div>
		</div>
	</div>
</div>

</div>
